# Dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Metro / React Native
.metro/
.expo/
dist/
web-build/
*.bundle
*.jsbundle

# Build outputs
android/
ios/

# Misc
.DS_Store
.idea/
.vscode/
*.swp
*.swo
*.tmp
package-lock.json
yarn.lock
